In [1]:
#Import libraries for analyis 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

Data Overview

In [3]:
#load the ride and station datasets

trips_df = pd.read_csv('Resources/la_metro_gbfs_trips_2017.csv')


stations_df = pd.read_csv('Resources/metro-bike-share-stations-2019-10-1.csv')


trips_df.head(5)

C:\Users\alao8\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,17059131,480,1/1/2017 0:15,1/1/2017 0:23,3030,34.051941,-118.243530,3029,34.048851,-118.246422,6220,30.0,One Way,Monthly Pass
1,17059130,720,1/1/2017 0:24,1/1/2017 0:36,3028,34.058319,-118.246094,3028,34.058319,-118.246094,6351,0.0,Round Trip,Walk-up
2,17059129,1020,1/1/2017 0:28,1/1/2017 0:45,3027,34.049980,-118.247162,3018,34.043732,-118.260139,5836,0.0,One Way,Walk-up
3,17059128,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6142,30.0,One Way,Monthly Pass
4,17059127,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6135,30.0,One Way,Monthly Pass

In [4]:
stations_df.head(5)

   Station_ID     Station_Name Go_live_date Region   Status
0        3000  Virtual Station     7/7/2016     NaN  Active
1        3005     7th & Flower     7/7/2016    DTLA  Active
2        3006      Olive & 8th     7/7/2016    DTLA  Active
3        3007      5th & Grand     7/7/2016    DTLA  Active
4        3008   Figueroa & 9th     7/7/2016    DTLA  Active

In [8]:
trips_df.shape

(229255, 14)

In [5]:
#Examine the data types 
trips_df.dtypes

trip_id                  int64
duration                 int64
start_time              object
end_time                object
start_station_id         int64
start_lat              float64
start_lon              float64
end_station_id           int64
end_lat                float64
end_lon                float64
bike_id                 object
plan_duration          float64
trip_route_category     object
passholder_type         object
dtype: object

In [6]:
# Examine any null values 
trips_df.isnull().sum()

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station_id          0
start_lat               587
start_lon               587
end_station_id            0
end_lat                3501
end_lon                3501
bike_id                   0
plan_duration           384
trip_route_category       0
passholder_type           0
dtype: int64

In [13]:
#Drop records with NaN values to keep data integrity
trips_clean = trips_df.dropna(how='any')

trips_clean.head()

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,17059131,480,1/1/2017 0:15,1/1/2017 0:23,3030,34.051941,-118.243530,3029,34.048851,-118.246422,6220,30.0,One Way,Monthly Pass
1,17059130,720,1/1/2017 0:24,1/1/2017 0:36,3028,34.058319,-118.246094,3028,34.058319,-118.246094,6351,0.0,Round Trip,Walk-up
2,17059129,1020,1/1/2017 0:28,1/1/2017 0:45,3027,34.049980,-118.247162,3018,34.043732,-118.260139,5836,0.0,One Way,Walk-up
3,17059128,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6142,30.0,One Way,Monthly Pass
4,17059127,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6135,30.0,One Way,Monthly Pass

In [11]:
#Confirm that records with NaN values are dropped
trips_clean.isnull().sum()

trip_id                0
duration               0
start_time             0
end_time               0
start_station_id       0
start_lat              0
start_lon              0
end_station_id         0
end_lat                0
end_lon                0
bike_id                0
plan_duration          0
trip_route_category    0
passholder_type        0
dtype: int64

In [17]:
stations_df.isnull().sum()

stations_clean = stations_df.dropna(how='any')

stations_clean.head()

   Station_ID    Station_Name Go_live_date Region   Status
1        3005    7th & Flower     7/7/2016    DTLA  Active
2        3006     Olive & 8th     7/7/2016    DTLA  Active
3        3007     5th & Grand     7/7/2016    DTLA  Active
4        3008  Figueroa & 9th     7/7/2016    DTLA  Active
5        3010    11th & Maple    7/10/2016    DTLA  Active

How many trips were taken in 2017?

In [18]:

trips_clean.trip_id.nunique()

225034

In [19]:
#Lets confirm the table is unique at the table level.
trips_clean.shape[0]

225034

How many unique stations?

In [20]:
stations_clean.Station_ID.nunique()

244

In [22]:
stations_clean.Status.value_counts()

Active      181
Inactive     63
Name: Status, dtype: int64

What's the average duration of each trip?

In [23]:
#Each average trip duration is 216 min? On the website, https://bikeshare.metro.net/about/data/, it says duration is measured in minutes
trips_clean.duration.mean()

216.43740945812633

In [25]:
#With the start and end times, the duration is actually measured in seconds which makes more sense now!
trips_clean[['duration', 'start_time','end_time']].head()

   duration     start_time       end_time
0       480  1/1/2017 0:15  1/1/2017 0:23
1       720  1/1/2017 0:24  1/1/2017 0:36
2      1020  1/1/2017 0:28  1/1/2017 0:45
3       300  1/1/2017 0:38  1/1/2017 0:43
4       300  1/1/2017 0:38  1/1/2017 0:43

In [27]:
#Create a new column for duration in minutes 
trips_clean['duration_min'] = trips_clean.duration/60

trips_clean.head()

C:\Users\alao8\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,duration_min
0,17059131,480,1/1/2017 0:15,1/1/2017 0:23,3030,34.051941,-118.243530,3029,34.048851,-118.246422,6220,30.0,One Way,Monthly Pass,8.0
1,17059130,720,1/1/2017 0:24,1/1/2017 0:36,3028,34.058319,-118.246094,3028,34.058319,-118.246094,6351,0.0,Round Trip,Walk-up,12.0
2,17059129,1020,1/1/2017 0:28,1/1/2017 0:45,3027,34.049980,-118.247162,3018,34.043732,-118.260139,5836,0.0,One Way,Walk-up,17.0
3,17059128,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6142,30.0,One Way,Monthly Pass,5.0
4,17059127,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6135,30.0,One Way,Monthly Pass,5.0

In [28]:
trips_clean.duration_min.mean()

3.607290157636532